/* div {
  color: red;
} */

.boddy {
  /* color: red; */
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.frameLogin {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(149, 187, 189);
  width: 400px;
  height: 350px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}